<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="Linkkilista" />
    <meta name="author" content="Eevis Panula" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/assets/index.css' | url }}" />
    <link
      rel="icon"
      type="image/png"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/female-technologist-type-1-2_1f469-1f3fb-200d-1f4bb.png"
    />
  </head>
  <body>
    <main id="main">
      <div class="background-div"></div>
      {{ content }}
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="https://www.instagram.com/eevis.codes/">Instagram</a></li>
          <li><a href="https://linkedin.com/in/eevajonna">LinkedIn</a></li>
          <li><a href="https://twitter.com/EevisPanula">Twitter</a></li>
          <li><a href="https://dev.to/eevajonnapanula">Dev.to</a></li>
          <li><a href="https://eevis.codes">Eevis.codes</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
